@import "../fonts/font.css";

*,
html,
body {
  font-family: "SalesforceSans-Regular", Fallback, sans-serif !important;
}
.custom-card {
  min-height: 200px;
  display: flex;
  align-items: center;
  padding: 20px;
  min-width: 300px;
}

.custom-file-content {
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.custom-file-content:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.modal-dialog {
  overflow-x: auto;
}

.modal-body {
  max-height: 400px;
  overflow: auto;
}

.fade.modal.show,
.fade.modal {
  background: white !important;
}

.files-content {
  flex-wrap: nowrap;
}
